<header class="header">
  <div class="header-container  container">
    <div class="flex">
      <div class="headerlogo-link">
        <a class="header-logo" href="./index.html">
          <img class="logo-svg" src="./img/header/logo-optimized.svg" alt="logo-svg" width="24"
            height="24" />Bookshelf</a>
      </div>

      <nav class="navigation js-header-nav">
        <ul class="site-nav">
          <li class="site-nav__item_active">
            <a class="site-nav__link_active" href="./index.html">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./shopping.html">Shopping list
              <img class="head-nav-logo" width="20" height="20" src="./img/header/uil_cart_optimized.svg"
                alt="shopping-logo" />
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mobile-menu-container">
      <button class="burger-menu js-open-menu" aria-controls="mobile-menu" aria-expanded="true" type="button">
        <img class="mob-burger" width="28" height="28" src="./img/header/align-left.svg" alt="menu-burger" />
      </button>
      <button class="mob-btn-close js-close-menu" aria-controls="mobile-menu" aria-expanded="true" type="button">
        <img class="close-btn" width="28" height="28" src="./img/header/x-close_optimized.svg" alt="close-btn" />
      </button>
      <nav class="navigation-burger">
        <ul class="site-nav-burger">
          <li class="site-nav__item_active">
            <a class="site-nav__link_active" href="./index.html">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="./shopping.html">Shopping list
              <img class="head-nav-logo" width="20" height="20" src="./img/header/uil_cart_optimized.svg"
                alt="shopping-logo" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <!-- Switcher & buttons -->
  <div class="header-container-2">
    <label class="switch toggle-theme common-toggle">
      <input type="checkbox" class="js-switch-theme" />
      <span class="slider round"></span>
    </label>
    <button type="button" class="user-sign-up" data-modal-open>
      <span class="user-sign-up-text">Sign up</span>
      <svg width="23" height="26" class="user-sign-up-icon">
        <use href="./img/signup/sprite.svg#icon-login-arrow"></use>
      </svg>
    </button>
  </div>
  </div>
  </div>
</header>