<!-- <div id="bookModal" class="modal">
  <div class="modal-content">
    <span class="close-modal-btn">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/img_modal/x-close.svg#close_button"></use>
      </svg>
    </span>
    <div id="bookInfoModal"></div>
    <button class="modal-add-button" id="shoppingButton">
      Add to Shhoping list
    </button>
    <p
      class="success-message-modal"
      id="successMessage"
      style="display: none"
    ></p>
  </div>
</div> -->
