<!-- <div class="modal">
    <div>
        <img src="" alt="">
        <h2></h2>
        <p><a href=""></a></p>
        <p><a href=""></a></p>
        <div>
            <svg>
                <use href=""></use>
            </svg>
        </div>
    </div>
    <button class="add-to-list">
        
    </button>
    <svg>
        <use href=""></use>
    </svg> 
</div> -->
<div id="bookModal" class="modal">
    <div class="modal-content">
        <span class="close"><svg> <use href=""></use> </svg></span>
        <div id="bookInfo">

        </div>
    </div>
</div>