<div class="modal-overlay" id="modalOverlay">
  <div id="bookModal" class="modal">
    <div class="modal-content">
      <span class="close-modal-btn">
        <svg class="modal-close-icon" width="24" height="24">
          <use href="./img/img_modal/x-close.svg#close_button"></use>
        </svg>
      </span>
      <div id="bookInfoModal"></div>
      <ul class="book-market-list">
        <li>
          <a href="${amazon}">
            <img
              src="./img/img_modal/amazon.png"
              alt="Amazon"
              class="img-book-market"
            />
          </a>
        </li>
        <li>
          <a href="${appleBooks}">
            <img
              src="./img/img_modal/apple_book.png"
              alt="Apple Book"
              class="img-book-market"
            />
          </a>
        </li>
      </ul>
      <button class="modal-add-button" id="shoppingButton">
        Add to Shhoping list
      </button>
      <p class="success-message-modal" id="successMessage"></p>
    </div>
  </div>
</div>
