<!-- авторизация sign-up -->
<!-- <div class="modal">
  <div class="modal-auth">
    <button type="button" class="auth-close-btn">
      <svg class="icon-modal-close" width="28" height="28">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <form class="modal-auth-form" id="signin-form" name="signin-form">
      <div class="auth-form-group">
        <div class="auth-form-field">
          <input
            type="text"
            class="auth-form-input"
            name="user_name"
            placeholder="name"
            pattern="^[А-Яа-я-A-Za-z]+$"
          />
        </div>
        <div class="auth-form-field">
          <input
            type="email"
            class="auth-form-input"
            name="user_email"
            placeholder="email"
          />
          <svg width="28" height="28" class="form-icon">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </div>
        <div class="auth-form-field">
          <input
            type="password"
            class="auth-form-input"
            name="user_password"
            placeholder="password"
            minlength="6"
            maxlength="20"
          />
          <svg width="28" height="28" class="form-icon">
            <use href="./images/sprite.svg#icon-lock"></use>
          </svg>
        </div>
      </div>
      <button type="submit" class="auth-form-button">Sign up</button>
    </form>
    <ul class="sign-action-group">
      <li>
        <a class="modal-sign-action active" href="#">Sign up</a>
      </li>
      <li>
        <a class="modal-sign-action" href="#sign-in">Sign in</a>
      </li>
    </ul>
  </div>
</div> -->

<!-- Увійти sing-in -->
<!-- <div class="modal">
  <div class="modal-auth">
    <button type="button" class="auth-close-btn">
      <svg class="icon-modal-close" width="28" height="28">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <form class="modal-auth-form" id="signin-form" name="signin_form">
      <div class="auth-form-field">
        <input
          type="email"
          class="auth-form-input"
          name="user_email"
          placeholder="email"
        />
        <svg width="28" height="28" class="form-icon">
          <use href="./images/sprite.svg#icon-mail"></use>
        </svg>
      </div>

      <div class="auth-form-field">
        <input
          type="password"
          class="auth-form-input"
          name="user_password"
          placeholder="password"
          minlength="6"
          maxlength="20"
        />
        <svg width="28" height="28" class="form-icon">
          <use href="./images/sprite.svg#icon-lock"></use>
        </svg>
      </div>
      <button type="submit" class="auth-form-button">Sign up</button>
    </form>
    <ul class="sign-action-group">
      <li>
        <a class="modal-sign-action active" href="#">Sign up</a>
      </li>
      <li>
        <a class="modal-sign-action" href="#sign-in">Sign in</a>
      </li>
    </ul>
  </div>
</div> -->
