<div class="container-ua">
    <div class="header-ua">
        <h4 class="support-uk">Support Ukraine</h4>
        <img class="herb" src="./img/support/herb.svg" alt="herb">
    </div>


    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-wrapper numbered-list"></div>
    </div>

    <div class="swiper-slide hidden-slide"></div>


    <div class="show-more-container">
        <img class="show-button" src="./img/support/buttonDown.svg" alt="Show More Button">
        <img class="hide-button" src="./img/support/buttonUp.svg" alt="Show Less Button" style="display: none;">
    </div>
</div>