.h1category {
  text-align: left;
  color: var(--black-color);
  font-family: var(--main-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -1.28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  color: var(--black-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  padding-top: 14px;
}

@media only screen and (min-width: 768px) {
  .h1category {
    text-align: left;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
    margin-top: 100px;
  }

  h2 {
    width: 218px;
    height: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .h1category {
    margin-top: 40px;
  }

  h2 {
    max-width: 180px;
  }
}

.sidebar {
  width: 335px;
  height: 228px;
  overflow-y: auto;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 337px;
    height: 472px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .sidebar {
    margin-bottom: 86px;
  }
}

.list-categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .list-categories {
    gap: 32px;
  }
}

.list-categories .categories-item {
  color: var(--categories-list-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.32px;
}

@media only screen and (min-width: 768px) {
  .list-categories .categories-item {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.list-categories .categories-item:active {
  color: var(--purple-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  cursor: pointer;
}

.categories-item.active {
  text-transform: uppercase;
  color: var(--purple-color);
  font-weight: 700;
}

scroll-container {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 28px;
  box-sizing: border-box;
  display: block;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e0e0e0;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #dfeeff;
}

.wrapper-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .list-wrapper-categories {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    column-gap: 24px;
    row-gap: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper-categories {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .wrapper-categories-img {
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper-categories-img {
    max-width: 180px;
    max-height: 256px;
  }
}

.wrapper-categories-author {
  color: var(--books-title-color);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  padding-top: 4px;
}

@media only screen and (min-width: 1440px) {
  .wrapper-categories-author {
    max-width: 180px;
    height: auto;
  }
}
