/* .dark-theme {
  background-color: #202024;
}
.dark-theme .header-section {
  background-color: #111111;
  border: 1.5px solid #ffffff;
}
.dark_icon {
  display: none;
}
.dark-theme .dark_icon {
  display: block;
}
.dark-theme .light_icon {
  display: none;
}
.dark-theme .mobile-menu {
  color: #ffffff;
} */
