/* .dark-theme {
  background-color: #202024;
}
.dark-theme .header-section {
  background-color: #111111;
  border: 1.5px solid #ffffff;
}
.dark_icon {
  display: none;
}
.dark-theme .dark_icon {
  display: block;
}
.dark-theme .light_icon {
  display: none;
}
.dark-theme .mobile-menu {
  color: #ffffff;
} */
[data-theme='dark'] {
  --black-color: #ffffff;
  --grey-color: #202024;
  --purple-color: #eac645;
  --gold-color: #4f2ee8;
  --white-color: #111111;
  --body-bg-color: #202024;
  --button-text-color: #111111;
  --books-title-color: #b4afaf;
  --categories-list-color: rgba(255, 255, 255, 0.6);
  --disactive-link-color: rgba(246, 246, 246, 0.5);
  --icon-shop-white: invert(100%);
  --book-modal-color: #202024;
  --shopping-list-text: rgba(255, 255, 255, 0.6);
}
