.header {
  margin-bottom: 20px;
}
.header-container {
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.headerlogo-link {
  display: flex;
  padding: 22px 24px;
}
.header-logo {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  color: #111;
}

.menu-toggle {
  display: none;
}

.navigation {
  padding: 22px 24px;
}

.site-nav {
  display: flex;
  gap: 24px;
}

.site-nav__item {
  padding: 8px 16px;
}

.site-nav__item_active {
  padding: 8px 16px;
  background-color: #eac645;
  border-radius: 36px;
}

.site-nav__link_active {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #111111;
}

.site-nav__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #111;
}

.head-nav-logo {
  width: 20px;
  height: 20px;
  fill: #111;
  margin-left: 4px;
}

.mobile-menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 20;
  background: linear-gradient(#4f2ee8 0%, #fff 130%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-image: url(../img/header/background-colors.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.burger-menu {
  width: 28px;
  height: 28px;
  background-color: transparent;
  margin-left: 14px;
}

.mob-burger:hover {
  fill: #4f2ee8;
}

.mob-burger {
  width: 28px;
  height: 28px;
  fill: #111;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mobile-menu-container {
    background-image: url(../img/header/background-colors.png);
    background-size: contain;
  }
}

.mob-btn-close {
  width: 28px;
  height: 28px;
  background-color: transparent;
  margin-left: 14px;
}

.close-btn {
  width: 28px;
  height: 28px;
  fill: #111;
}

.close-btn:hover {
  fill: #4f2ee8;
}

.navigation-burger {
  display: flex;
  justify-content: center;
  margin-top: 126px;
}

@media screen and (min-width: 375px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 18px 20px;
    /* justify-content: space-between; */
  }

  .navigation {
    display: block;
  }

  .mobile-menu-container {
    display: none;
  }
}

@media s—Åreen and (max-width: 1440px) {
  .header-container {
    padding: 22px 24px;
  }

  .navigation {
    margin-right: 745px;
  }
}
