.main-page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background: rgba(192, 179, 238, 0.1);
}

.main-loader-container {
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -35px;
  margin-left: -35px;
  animation: loader-rotate 3s infinite linear;
}

.main-loader-item {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 0;
  border-radius: 100%;
  background-color: rgb(79, 46, 232);
  animation: loader-bounce 3s infinite linear;
}

.main-loader-item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loader-hide .main-page-loader {
  transition: 0.5s opacity;
  opacity: 0;
}

.full-load .main-page-loader {
  display: none;
}
