.scroll-up {
  position: fixed;
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 70px;
  cursor: pointer;
  opacity: 1;
  background-color: rgb(79, 46, 232);
  border: 5px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: border 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.scroll-up:hover {
  border: 5px solid rgba(192, 179, 238, 0.7);
  border-radius: 50%;
}

.scroll-up::before {
  width: 24px;
  height: 24px;
  background: transparent no-repeat center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  content: '';
}

.scroll-hide {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .scroll-up {
    bottom: 40px;
  }
}
