.header-container {
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-logo-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  color: #111;
}

.header-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.site-list {
  display: flex;
  gap: 24px;
}

.site-item {
  padding: 8px 16px;
}

.site-item_active {
  background-color: #eac645;
  border-radius: 36px;
  padding: 8px 16px;
}

.site-link_active {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #111111;
}

.site-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  color: #111;
}

.head-nav-logo {
  width: 20px;
  height: 20px;
  fill: #111;

  margin-left: 4px;
}

/* .toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 144px;
} */

/* input[type='checkbox'] {
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: background var(--animation);
}

.check::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: var(--animation);
}

input[type='checkbox']:checked ~ .check {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background var(--animation);
}

input[type='checkbox']:checked ~ .check::after {
  transform: translateX(20px);
}

.sign-up-button {
  display: none;
}

.sign-up-button_text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #ffffff;
} */

.burger-menu {
  width: 28px;
  height: 28px;
  background-color: transparent;
  margin-left: 14px;
}

.mob-burger {
  width: 28px;
  height: 28px;
  fill: #111;
  transition: fill var(--animation);
}

.mob-burger:hover {
  fill: #4f2ee8;
}

/***** Burger-Modal*******/
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 20;
  background: linear-gradient(#4f2ee8 0%, #fff 130%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: opacity var(--animation), transform var(--animation); */
}

.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.burger-container {
  /* background-image: url(../images/background-colors.png); */
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .burger-container {
    /* background-image: url(../images/background-colors_x2.png); */
    background-size: contain;
  }
}

.mobile-menu__header {
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
}

.mobile-button {
  width: 28px;
  height: 28px;
  background-color: transparent;
  margin-left: 14px;
}

.close-btn {
  width: 28px;
  height: 28px;
  fill: #111;
  transition: fill var(--animation);
}

.close-btn:hover {
  fill: #4f2ee8;
}

/* .sign-up-button-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 184px;
  padding: 13px 14px;
  margin-top: 20px;
  margin-left: 20px;

  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  cursor: pointer;
} */

.navigation-burger {
  display: flex;
  justify-content: center;
  margin-top: 126px;
}

.navigation-burger-shopping-list {
  display: flex;
  justify-content: center;
  margin-top: 183px;
}
/* 
.log-out-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  margin-top: 447px;
  position: relative;
  top: -20px;
  z-index: 1;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 18px;
  cursor: pointer;
}

.log-out-button_text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;

  color: #111111;
}

.log-out-button_icon {
  margin-left: 7px;
} */

/**--------Media------*/
@media screen and (min-width: 375px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-logo-link {
    margin-right: 40px;
  }

  .navigation {
    display: block;
  }

  /* .toggle-theme {
    margin-left: 0;
  }

  .sign-up-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 184px;
    padding: 13px 14px;

    background: #4f2ee8;
    border: 1.5px solid #111111;
    border-radius: 18px;
    cursor: pointer;
  } */

  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    margin-right: 745px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .user-bar {
    display: none;
    position: relative;
    display: block;
  }
}

/* .user-bar-button {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 184px;
  max-width: 260px;
  height: 45px;
  padding: 4px 12px;

  background: #4f2ee8;
  border: 0;
  border-radius: 36px;
  cursor: pointer;
}

.user-bar-button-icon {
  margin-right: 9px;
}

.user-bar-button-text {
  margin-right: 4px;

  font-weight: 700;
  font-size: 22px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
  color: #ffffff;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
} */

/* .dropdown {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: end;
  width: 100%;

  border-radius: 0 0 22px 22px;
  background-color: var(--purple-color);

  transform-origin: top;
  transform: scaleY(0);
  transition: var(--animation);
} */

/* .user-bar-button-arrow-icon {
  transition: var(--animation);
}

.user-bar .is-active {
  & .dropdown {
    transform: scaleY(1);
  }

  & .user-bar-button-arrow-icon {
    transform: scale(1, -1);
  }
} */
/* 
.dropdown-list-item {
  width: 100%;
}

.js-log-out-button {
  margin-top: 50px;
  margin-left: 33px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.user-icon {
  width: 37px;
  height: 37px;
  margin-right: 9px;
  margin-left: 20px;
}

.user-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;

  letter-spacing: -0.02em;

  color: #ffffff;
} */

.shoping-list {
  font-family: DM Sans, sans-sarif;
  display: flex;
  margin-top: 40px;
}
.shopping-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: var(--black-color);
}
.list-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: var(--purple-color);
}

.empty-img-title {
  margin-top: 232px;
}
.shoping-text {
  width: 349px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  color: var(--black-color);
  text-align: center;
  margin: 0 auto;
}

.img-shoping-list {
  padding-top: 14px;
  margin: 0 auto;
}
/* styles no empty */
.kart-local-stor {
  margin-top: 40px;
}
/* title styles */
.title-book-in-shopList {
  position: relative;
  padding-left: 14px;
  width: 100%;
}
.title-kard {
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 4px;
}
.under-title-kard {
  color: var(--books-title-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .under-title-kard {
    padding-bottom: 14px;
  }
}
.deskription-book {
  text-align: left;
  max-height: 68px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .deskription-book {
    max-height: 53px;
  }
}
.kard-in {
  display: flex;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--white-color);
}

.img-in-kard {
}
.book-list-img {
  width: 100%;
  height: 100%;
  background: lightgray 50%;
}
/* botton style */
.author-title {
  padding-top: 16px;
  color: var(--books-title-color);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
}
@media screen and (min-width: 1440px) {
  .author-title {
    padding-top: 41px;
  }
}
/* btn delete styles */
.button-delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 14px;
  cursor: pointer;
}
.elypse {
  fill: var(--purple-color);
}
.delete-icon {
  stroke: var(--white-color);
}
.elypse,
.delete-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* link in websites */
.link-in-websites {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/* img styles */

.amazon {
  padding-top: 19px;
  padding-left: 66px;
  width: 32px;
  height: 11px;
  mix-blend-mode: luminosity;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amazon {
    width: 48px;
    height: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
@media screen and (min-width: 1440px) {
  .amazon {
    width: 48px;
    height: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
.book-link {
  padding-top: 19px;
  padding-left: 8px;
  width: 16px;
  height: 16px;
  mix-blend-mode: luminosity;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .book-link {
    width: 28px;
    height: 27px;
    padding-top: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .book-link {
    width: 28px;
    height: 27px;
    padding-top: 35px;
  }
}
.link-amazon-book {
  display: flex;
  align-items: baseline;
}

/* pagination style */
.pagination-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 16px;
}
.pagination {
  text-align: center;
}

.pagination button {
  cursor: pointer;
}
