/**
  |============================
  | Switcher style
  |============================
*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 400ms;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**
  |============================
  | Button signin
  |============================
*/
.user-sign-up {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 14px;
    justify-content: space-between;
    width: 184px;
    height: 48px;
    background: #4f2ee8;
    border: 1.5px solid #111111;
    border-radius: 18px;
  }
}
.user-sign-up-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.user-sign-up-icon {
  stroke: #eac645;
}
/**
  |============================
  | Авторизація
  |============================
*/
.authorization_backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  transform: translateY(0);
  transition: var(--animation);
}
.authorization_backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-101%);
}
.box {
  position: absolute;
  background: rgba(204, 236, 231, 0.5);
  filter: blur(539.791px);
  width: 963px;
  height: 1055px;
  left: -646px;
  top: -718px;
}
@media screen and (min-width: 768px) {
  .box {
    width: 1421px;
    height: 1421px;
    left: -846px;
    top: -918px;
  }
}
.authorization_form {
  display: flex;
  flex-direction: column;
}
.authorization_modal {
  width: 300px;
  padding: 40px 15px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-bg-color);
  border: 2px solid var(--black-color);
  border-radius: 18px;
}
@media screen and (min-width: 375px) {
  .authorization_modal {
    width: 335px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_modal {
    width: 450px;
    padding: 65px 25px 25px;
  }
}
@media screen and (min-width: 1440px) {
  .authorization_modal {
    width: 579px;
    padding: 80px 40px 40px;
  }
}
.dark .authorization_modal {
  background-color: var(--grey-color);
  border: 2px solid var(--body-bg-color);
}
.authorization_icon_close {
  display: block;
  stroke: var(--black-color);
  width: 20px;
  height: 20px;
  transition: stroke var(--body-bg-color);
}
@media screen and (min-width: 768px) {
  .authorization_icon_close {
    width: 28px;
    height: 28px;
  }
}
.dark .authorization_icon_close {
  stroke: var(--body-bg-color);
}
.authorization_button_close {
  position: absolute;
  cursor: pointer;
  top: 13px;
  right: 10px;
  background-color: transparent;
  border: 0;
  transition: stroke;
}
@media screen and (min-width: 375px) {
  .authorization_button_close {
    top: 14px;
    right: 2%;
  }
}
@media screen and (min-width: 768px) {
  .authorization_button_close {
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .authorization_button_close {
    top: 24px;
    right: 24px;
  }
}
.authorization_button_close.authorization_icon_close:hover,
.authorization_button_close.authorization_icon_close:focus {
  transition: stroke var(--purple-color);
}
.authorization_field {
  display: block;
  position: relative;
  margin-bottom: 13px;
}
@media screen and (min-width: 375px) {
  .authorization_field {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_field {
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .authorization_field {
    margin-bottom: 28px;
  }
}
.authorization_field:nth-child(3) {
  margin-bottom: 17px;
}
@media screen and (min-width: 375px) {
  .authorization_field:nth-child(3) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_field:nth-child(3) {
    margin-bottom: 40px;
  }
}
.authorization_input {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  color: var(--black-color);
  background-color: inherit;
  border: 2px solid var(--black-color);
  border-radius: 40px;
  display: block;
}
@media screen and (min-width: 375px) {
  .authorization_input {
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 45px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_input {
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 60px;
    font-size: 24px;
  }
}
.dark .authorization_input {
  color: var(--body-bg-color);
  border: 2px solid var(--body-bg-color);
}
.authorization_label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black-color);
  cursor: pointer;
  transition: 300ms;
}
@media screen and (min-width: 375px) {
  .authorization_label {
    left: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_label {
    left: 40px;
    font-size: 18px;
  }
}
.dark .authorization_label {
  color: var(--body-bg-color);
}
.authorization_input:not(:placeholder-shown) + .authorization_label,
.authorization_input:focus + .authorization_label {
  top: -16%;
  font-size: 10px;
}
@media screen and (min-width: 375px) {
  .authorization_input:not(:placeholder-shown) + .authorization_label,
  .authorization_input:focus + .authorization_label {
    top: -23%;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_input:not(:placeholder-shown) + .authorization_label,
  .authorization_input:focus + .authorization_label {
    top: -20%;
    font-size: 15px;
  }
}
.authorization_input:focus {
  outline: 2px solid #4f2ee8;
}
.authorization_input:focus ~ .authorization_icon {
  stroke: #4f2ee8;
  transition: stroke 300ms;
}
.authorization_input:valid {
  outline: 2px solid #70b509;
}
.authorization_input:valid ~ .authorization_icon {
  stroke: #70b509;
  transition: stroke 300ms;
}
.authorization_input:not(:placeholder-shown):not(:valid) {
  outline: 2px solid #db5353;
}
.authorization_input:not(:placeholder-shown):not(:valid) ~ .authorization_icon {
  stroke: #db5353;
  transition: stroke 300ms;
}
.authorization_icon {
  stroke: var(--black-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20;
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 375px) {
  .authorization_icon {
    width: 18px;
    height: 18px;
    right: 24;
  }
}
@media screen and (min-width: 768px) {
  .authorization_icon {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .authorization_icon {
    right: 32;
  }
}
.dark .authorization_icon {
  stroke: var(--body-bg-color);
}
.authorization_button_submit {
  cursor: pointer;
  padding: 10px 100px;
  color: var(--button-text-color);
  background: var(--black-color);
  border-radius: 40px;
  border: none;
  margin-bottom: 6px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  transition: color, background-color;
}
@media screen and (min-width: 375px) {
  .authorization_button_submit {
    padding: 16px 113px;
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}
@media screen and (min-width: 768px) {
  .authorization_button_submit {
    padding: 20px 154px;
    margin-bottom: 7px;
    font-size: 15px;
    line-height: calc(24 / 15);
  }
}
@media screen and (min-width: 1440px) {
  .authorization_button_submit {
    padding: 20px 213px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: calc(24 / 15);
  }
}
.authorization_button_submit:hover,
.authorization_button_submit:focus {
  background-color: #4f2ee8;
  color: var(--white-color);
}
.dark .authorization_button_submit {
  color: var(--black-color);
  background: var(--body-bg-color);
}
.authorization_link_block {
  text-align: center;
}
.authorization_link {
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: color;
}
@media screen and (min-width: 375px) {
  .authorization_link {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 768px) {
  .authorization_link {
    font-size: 18px;
  }
}
.authorization_link:hover,
.authorization_link:focus {
  color: #4f2ee8;
}
.active-link {
  color: #4f2ee8;
  text-decoration-line: underline;
}
.desactive-link {
  color: var(--disactive-link-color);
}
.dark .desactive-link {
  color: rgba(246, 246, 246, 0.5);
}
.authorization_link:nth-child(1) {
  margin-right: 7px;
}
@media screen and (min-width: 375px) {
  .authorization_link:nth-child(1) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .authorization_link:nth-child(1) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .authorization_link:nth-child(1) {
    margin-right: 20px;
  }
}
.display-form {
  display: none;
}
.button-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 #000, 0 2px 6px 2px #000;
  background: #4f2ee8;
  border: 1.5px solid var(--black-color);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  font-size: 30px;
}
.button-to-top--visible {
  opacity: 1;
  visibility: visible;
}
.button-to-top:hover,
.sign-up-button:hover {
  background-color: #4b31bf;
  transition: all 0.3s;
}
.arrow {
  color: #eac645;
}
