:root {
  --black-color: #111111;
  --grey-color: #202024;
  --purple-color: #4f2ee8;
  --gold-color: #eac645;
  --white-color: #ffffff;
  --body-bg-color: #f6f6f6;
  --button-text-color: #f3f3f3;
  --books-title-color: #b4afaf;
  --categories-list-color: rgba(17, 17, 17, 0.6);
  --disactive-link-color: rgba(17, 17, 17, 0.5);
  --icon-shop-white: grayscale(100%);
  --book-modal-color: #ffffff;
  --shopping-list-text: rgba(0, 0, 0, 0.6);

  --main-font: 'DM Sans', sans-serif;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
