:root {
  --black-color: #111111;
  --grey-color: #202024;
  --purple-color: #4f2ee8;
  --gold-color: #eac645;
  --white-color: #ffffff;
  --body-bg-color: #f6f6f6;
  --button-text-color: #f3f3f3;
  --books-title-color: #b4afaf;
  --categories-list-color: rgba(17, 17, 17, 0.6);
  --disactive-link-color: rgba(17, 17, 17, 0.5);
  --icon-shop-white: grayscale(100%);
  --book-modal-color: #ffffff;
  --shopping-list-text: rgba(0, 0, 0, 0.6);

  --main-font: 'DM Sans', sans-serif;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  |      MOBILE
  |============================
*/

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

/**
  |============================
  |     TABLET
  |============================
*/

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/**
  |============================
  |          DESKTOP
  |============================
*/

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}

::before,
::after {
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: 356px 1fr;
  gap: 40px;
}

.header-container-2 {
  display: flex;
  gap: 24px;
  align-items: center;
}

.flex {
  display: flex;
}
